body {
    background: white;
    font-family: sans-serif;
    line-height: 1.5;
}
header {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    border-right: 5px solid silver;
    width: 290px;
    height: 100%;
}
#main-doc {
    grid-area: main;
    padding-left: 20px;
    margin-left: 310px;
}
#navbar li {
    position: relative;
    list-style: none;
    border-top: 1px solid black;
    width: 100%;
}
#navbar ul {
    padding: 0;
    height: 88%;
    overflow-y: auto;
    overflow-x: hidden;
    
}
.nav-link {
    display: block;
    text-decoration: none;
    color: rgb(59, 59, 59);
    padding: 10px 30px;
}
#navbar li :hover, #navbar li :focus {
    background: rgb(196, 196, 196);
}